<div class="row">
    <div class="col-md-4 col-12 mt-n4 pb-5">
        <div class="card text-center border-dark">
            <div class="card-header text-uppercase">
                <h5 class="card-title font-weight-bold">Total Confirmed</h5>
            </div>
            <h4 class="card-body card-text">{{totalConfirmed}}</h4>
        </div>
    </div>
    <div class="col-md-4 col-12 mt-n4 pb-5">
        <div class="card text-center border-dark">
            <div class="card-header text-uppercase">
                <h5 class="card-title font-weight-bold">Total Deaths</h5>
            </div>
            <h4 class="card-body card-text">{{totalDeaths}}</h4>
        </div>
    </div>
    <div class="col-md-4 col-12 mt-n4 pb-5">
        <div class="card text-center border-dark">
            <div class="card-header text-uppercase">
                <h5 class="card-title font-weight-bold">Total Recovered</h5>
            </div>
            <h4 class="card-body card-text">{{totalRecovered}}</h4>
        </div>
    </div>
</div>
