<div class="row" *ngIf="dataGlobal">
    <div class="col-md-3 col-12 mt-n4 pb-5">
        <div class="card text-center">
            <div class="card-header text-uppercase">
                <h5 class="card-title font-weight-bold">New Confirmed</h5>
            </div>
            <h4 class="card-body card-text">{{dataGlobal.NewConfirmed}}</h4>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-n4 pb-5">
        <div class="card text-center">
            <div class="card-header text-uppercase">
                <h5 class="card-title font-weight-bold">Total Confirmed</h5>
            </div>
            <h4 class="card-body card-text">{{dataGlobal.TotalConfirmed}}</h4>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-n4 pb-5">
        <div class="card text-center">
            <div class="card-header text-uppercase">
                <h5 class="card-title font-weight-bold">Total Deaths</h5>
            </div>
            <h4 class="card-body card-text">{{dataGlobal.TotalDeaths}}</h4>
        </div>
    </div>
    <div class="col-md-3 col-12 mt-n4 pb-5">
        <div class="card text-center">
            <div class="card-header text-uppercase">
                <h5 class="card-title font-weight-bold">Total Recovered</h5>
            </div>
            <h4 class="card-body card-text">{{dataGlobal.TotalRecovered}}</h4>
        </div>
    </div>
</div>
