<div class="col-12">
    <div class="bg-danger">
        <div class="col-md-5 mx-auto col-8 pt-4">
            <img src="../../../assets/COVID-19-Blog-Header-Banner.png" alt="resp" width="100%">
        </div>
        <div>
            <div class="text-white pb-5 pt-4 text-center">
                <h2 class="text-center text-uppercase font-weight-bold">Last date of global
                    data <span>{{Date | date:'fullDate'}}</span></h2>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-card [dataGlobal]="dataGlobal"></app-card>
    </div>
    <div class="col text-center">
        <button type="button" class="btn btn-secondary col-md-6 shadow-none mt-2 mb-5" (click)=toggleTable()>Table with
            all
            data by Country</button>
        <div *ngIf="!isTableShow">
            <table class="table table-striped th-sm col-12 mt-3">
                <thead>
                    <tr class="d-flex">
                        <th class="text-left col-4" scope="col">County</th>
                        <th class="col-3" scope="col">Confirmed</th>
                        <th class="col-2" scope="col">Deaths</th>
                        <th class="col-3" scope="col">Recovered</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex" *ngFor="let item of dataCountries">
                        <td class="text-left col-4">{{item.Country}}</td>
                        <td class="col-3">{{item.TotalConfirmed}}</td>
                        <td class="col-2">{{item.TotalDeaths}}</td>
                        <td class="col-3">{{item.TotalRecovered}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h5 class="text-center font-weight-bold">Total Confirmed Statistic</h5>
    <div class="row bg-danger pt-4 pb-4 rounded-lg mx-auto">
        <div class="col-lg-6 col-md-12 col-12">
            <google-chart [data]="columnChart"></google-chart>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <google-chart [data]="pieChart"></google-chart>
        </div>
    </div>
</div>
